<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <skyshipping>
                <active>1</active>
                <basicshippingcost>10</basicshippingcost>
                <additionalcost>2</additionalcost>
                <minweight>5</minweight>
                <maxweight>100</maxweight>
                <title>Gokcens ExpressShipping</title>
                <name>Gokcens ExpressShipping</name>
                <shipping_cost>10</shipping_cost>
                <sallowspecific>0</sallowspecific>
                <sort_order>15</sort_order>
                <model>Gokcens\Skyshipping\Model\Carrier\Skyshipping</model>                       
            </skyshipping>
        </carriers>
    </default>
</config>